<section id="dashboard"
  class="p-4 mx-auto"
  data-controller="dashboard"
  data-dashboard-data-value="<%= @data.to_json %>">

  <div class="px-8 py-4 bg-[#F9FBF6] rounded-lg mb-16">
    <div class="grid grid-cols-3 gap-x-8 max-w-[920px]"> 
      <%= render partial: "dashboard/summary_card", locals: {
        target: "totalAmount", title: "ยอดขายรวมทั้งหมด", value: @data[:total_amount], unit: "บาท"
      } %>
      <%= render partial: "dashboard/summary_card", locals: {
        target: "totalOrder", title: "จำนวนคำสั่งซื้อทั้งหมด", value: @data[:total_order], unit: "รายการ" 
      } %>
      <%= render partial: "dashboard/summary_card", locals: {
        target: "avrgTotalAmount", title: "ยอดเฉลี่ยต่อรายการ", value: @data[:avrg_total_amount], unit: "บาท" 
      } %>
    </div>
  </div> <!-- summary cards -->

  <%= render partial: "dashboard/chart/total_sale", locals: {amount_by_product: @data[:amount_by_product]} %>

  <div class="my-6">
    <%= link_to "Manual create sale order", new_sale_order_path, class: "underline" %>
  </div>
</section>
