<section id="dashboard"
  class="p-4 mx-auto"
  data-controller="dashboard"
  data-dashboard-data-value="<%= @data.to_json %>">

  <div class="px-8 py-4 bg-[#F9FBF6] rounded-lg mb-16">
    <div class="grid grid-cols-3 gap-x-8 max-w-[920px]"> 
      <%= render partial: "dashboard/summary_card", locals: {
        target: "totalAmount", title: "ยอดขายรวมทั้งหมด", value: @data[:total_amount], unit: "บาท"
      } %>
      <%= render partial: "dashboard/summary_card", locals: {
        target: "totalOrder", title: "จำนวนคำสั่งซื้อทั้งหมด", value: @data[:total_order], unit: "รายการ" 
      } %>
      <%= render partial: "dashboard/summary_card", locals: {
        target: "avrgTotalAmount", title: "ยอดเฉลี่ยต่อรายการ", value: @data[:avrg_total_amount], unit: "บาท" 
      } %>
    </div>
  </div> <!-- summary cards -->

  <div class="grid grid-cols-[500px_1fr] gap-x-4">
    <div id="my-chart" 
      data-dashboard-target="myChart"
      class="my-4 w-[500px] h-[370px]">
    </div>

    <div class="data-table mt-[60px] font-kanit text-[15px] font-light">
      <% @data[:amount_product_channel].each do |product, item| %>
      <div class="mb-3 pb-3">
        <h3 class="font-semibold text-[17px] text-gray-700"><%= product %></h3>
        <% item.each do |ch, val| %>
          <div class="grid grid-cols-[200px_120px] border-b border-gray-300 mb-1 pb-1">
            <div>ยอดขายจาก <%= ch %></div>
            <div><%= val %></div>
          </div>
        <% end %>
        <div class="grid grid-cols-[200px_120px] border-b-2 border-gray-800 mb-1 pb-1">
          <div>ยอดรวม <%= product %></div>
          <div><%= @data[:amount_by_product].find { |a| a[:product] == product.to_s }[:amount] %></div>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <div class="my-6">
    <%= link_to "Manual create sale order", new_sale_order_path, class: "underline" %>
  </div>
</section>
