<section id="sale-person-registration">
  <h1 class="mb-2 text-xl text-gray-800 font-semibold">Sale Person Registration</h1>
  <%= form_with model: @sale_person, url: sale_persons_path, method: "POST" do |form| %>
    <div class="field mb-4">
      <div class="flex items-center gap-2">
        <img src="<%= @sale_person.line_picture_url %>" alt="<%= @sale_person.line_display_name %>" width="42px" height="42px" class="rounded-full">
        <div><%= @sale_person.line_display_name %></div>
      </div>

      <%= form.hidden_field :line_user_id %>
      <%= form.hidden_field :line_display_name %>
      <%= form.hidden_field :line_picture_url %>
      <input type="hidden" name="invitation_code" value="<%= @invitation.code %>">
    </div>

    <div class="field mb-4">
      <%= form.label :email, class: "block text-sm text-gray-400" %>
      <%= form.email_field :email, required: "required" %>
    </div>

    <div class="field mb-4">
      <%= form.label :password, class: "block text-sm text-gray-400" %>
      <%= form.password_field :password, required: "required" %>
    </div>

    <div class="field mb-4">
      <%= form.label :password_confirmation, class: "block text-sm text-gray-400" %>
      <%= form.password_field :password_confirmation, required: "required" %>
    </div>

    <div class="field mb-4">
      <%= form.submit value: "Create", class: "bg-gray-800 text-white px-4 py-2 cursor-pointer" %>
    </div>

    <div id="error-message"></div>
  <% end %>
</section>
