<section id="admin-panel" class="p-4">
  <h1 class="font-bold text-2xl text-gray-800 text-center mb-4">Admin panel</h1>

  <div id="sale-persons" class="mb-4 p-4 rounded-md drop-shadow bg-gray-50">
    <div class="flex justify-between">
      <h2 class="font-semibold text-gray-700 mb-4">Sale Person</h2>
      <%= link_to "Create", new_admin_sale_person_path, class: "underline text-sm" %>
    </div>

    <div class="mb-4">
      <%= link_to "Create invite link", admin_sale_person_invitations_path, data: {turbo_method: :post}, class: "block underline mb-4" %>
      <div id="invitation-link"></div>
    </div>

    <div class="text-[14.5px]">
      <header class="mb-2 pb-2 border-b text-gray-600 grid grid-cols-[200px_220px_80px]">
        <div>Email</div>
        <div>Line name</div>
        <div>Line photo</div>
      </header>
      <% User.users.each do |u| %>
        <div class="mb-1 grid grid-cols-[200px_220px_80px]">
          <div><%= u.email %></div>
          <div><%= u.line_display_name %></div>
          <% if u.line_picture_url %>
            <img src="<%= u.line_picture_url %>" alt="<%= u.line_display_name %>" width="26px" height="26px" style="border-radius:99px;" />
          <% else %>
            <div></div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div> <!-- sale-persons -->

  <div id="products" class="mb-4 p-4 rounded-md drop-shadow bg-gray-50">
    <div class="flex justify-between">
      <h2 class="font-semibold text-gray-700 mb-4">Products</h2>
      <%= link_to "Create", new_admin_product_path, class: "underline text-sm" %>
    </div>

    <div class="text-[14.5px]">
      <header class="grid grid-cols-[200px_200px_80px] mb-2 pb-2 border-b text-gray-600">
        <div>Product code</div>
        <div>Name</div>
        <div></div>
      </header>
      <% Product.all.each do |p| %>
        <div class="grid grid-cols-[200px_200px_80px] mb-1">
          <div><%= p.code %></div>
          <div><%= p.name %></div>
          <div><%= link_to "Edit", edit_admin_product_path(p) %></div>
        </div>
      <% end %>
    </div>
  </div> <!-- products -->

  <div id="sales" class="mb-4 p-4 rounded-md drop-shadow bg-gray-50">
    <h2 class="font-semibold text-gray-700 mb-4">Sales</h2>
    <div class="text-[14.5px]">
      <header class="grid grid-cols-[180px_80px_100px_50px] mb-2 pb-2 border-b text-gray-600">
        <div>Created</div>
        <div>Amount</div>
        <div>Product</div>
        <div title="fb=Facebook, line=Line">Channel</div>
      </header>
      <% @sales.each do |s| %>
        <div class="grid grid-cols-[180px_80px_100px_50px] mb-1">
          <div><%= s.created_at.strftime("%F %R") %></div>
          <div><%= s.amount %></div>
          <div><%= s.product.code %></div>
          <div><%= s.channel_code %></div>
        </div>
      <% end %>
    </div>
  </div> <!-- sales -->
</section>
