<div class="field mb-4">
  <%= form.label :name, class: "block text-sm text-gray-400" %>
  <%= form.text_field :name %>
</div>

<div class="field mb-4">
  <%= form.label :code, class: "block text-sm text-gray-400" %>
  <%= form.text_field :code, required: "required" %>
</div>

<div class="field mb-4">
  <%= form.submit value: "Create", class: "bg-gray-800 text-white px-4 py-2 cursor-pointer" %>
</div>

<div id="error-message"></div>

