<div id="rfm-css-chart-wrapper" class="mb-8">
  <div class="rfm-title flex gap-8 justify-between mb-4">
    <div class="mb-4 w-[75%]">
      <h1 class="font-medium text-2xl mb-4">RFM Segments</h1>
      <p class="text-sm">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti, ratione aliquid voluptatum sapiente maxime inventore atque, debitis fugiat a impedit officiis.</p>
    </div>
    <div class="title-customer text-right mb-4"> 
      <div class="text-4xl font-bold"><%= number_with_delimiter(@all_customers) %></div>
      <div>customers</div>
    </div>
  </div> <!-- title -->

  <div id="cant_lose" popover><%= @data2[:cant_lose].inspect %></div>
  <div id="rfm-css-chart" class="grid grid-cols-[75px_1fr]">
    <div class="flex justify-end font-semibold">
      <div class="text-[14px] text-center axis-title-y">Frequency + Monetary (orders + revenue)</div>
      <div class="text-[17.5px] axis-scale-y grid gap-[2px] items-center">
        <div class="pr-4">5</div>
        <div class="pr-4">4</div>
        <div class="pr-4">3</div>
        <div class="pr-4">2</div>
        <div class="pr-4">1</div>
      </div>
    </div> <!-- y-axis -->

    <div class="rfm-cells" data-rfm-target="rfmCells">
      <button class="cell cant_lose"></button>
      <button class="cell cant_lose" 
        data-group="cant_lose"
        data-action="click->rfm#showDetail" 
        data-percentage="<%= @data2[:cant_lose][:percentage] %>%"
        data-customers="<%= number_with_delimiter(@data2[:cant_lose][:customers]) %>"></button>
      <button class="cell royal"></button>
      <button class="cell royal"></button>
      <button class="cell champion"></button>

      <div class="cell risk"></div>
      <div class="cell risk"></div>
      <div class="cell royal"></div>
      <div class="cell royal" 
        data-group="royal"
        data-action="click->rfm#showDetail" 
        data-percentage="<%= @data2[:royal][:percentage] %>%"
        data-customers="<%= number_with_delimiter(@data2[:royal][:customers]) %>"></div>
      <div class="cell champion" 
        data-group="champion"
        data-action="click->rfm#showDetail"
        data-percentage="<%= @data2[:champion][:percentage] %>%"
        data-customers="<%= number_with_delimiter(@data2[:champion][:customers]) %>"></div>
      <div class="cell risk"></div>
      <div class="cell risk" 
        data-group="risk"
        data-action="click->rfm#showDetail"
        data-percentage="<%= @data2[:risk][:percentage] %>%"
        data-customers="<%= number_with_delimiter(@data2[:risk][:customers]) %>"></div>
      <div class="cell sleep"
        data-group="sleep"
        data-action="click->rfm#showDetail"
        data-percentage="<%= @data2[:sleep][:percentage] %>%"
        data-customers="<%= number_with_delimiter(@data2[:sleep][:customers]) %>"></div>
      <div class="cell potential_royal"></div>
      <div class="cell potential_royal"></div>
      <div class="cell hibernating"></div>
      <div class="cell hibernating"></div>
      <div class="cell need_attention"></div>
      <div class="cell potential_royal"></div>
      <div class="cell potential_royal" 
        data-group="potential_royal"
        data-action="click->rfm#showDetail"
        data-percentage="<%= @data2[:potential_royal][:percentage] %>%"
        data-customers="<%= number_with_delimiter(@data2[:potential_royal][:customers]) %>"></div>
      <div class="cell hibernating"></div>
      <div class="cell hibernating" 
        data-group="hibernating"
        data-action="click->rfm#showDetail"
        data-percentage="<%= @data2[:hibernating][:percentage] %>%"
        data-customers="<%= number_with_delimiter(@data2[:hibernating][:customers]) %>"></div>
      <div class="cell need_attention"
        data-group="need_attention"
        data-action="click->rfm#showDetail"
        data-percentage="<%= @data2[:need_attention][:percentage] %>%"
        data-customers="<%= number_with_delimiter(@data2[:need_attention][:customers]) %>"></div>
      <div class="cell promising" 
        data-group="promising"
        data-action="click->rfm#showDetail"
        data-percentage="<%= @data2[:promising][:percentage] %>%"
        data-customers="<%= number_with_delimiter(@data2[:promising][:customers]) %>"></div>
      <div class="cell new" 
        data-group="new"
        data-action="click->rfm#showDetail"
        data-percentage="<%= @data2[:new][:percentage] %>%"
        data-customers="<%= number_with_delimiter(@data2[:new][:customers]) %>"></div>
    </div>

    <div></div>
    <div class="font-semibold">
      <div class="axis-scale-x text-[17.5px] grid grid-cols-5 gap-[2px] justify-center">
        <div class="p-2">1</div>
        <div class="p-2">2</div>
        <div class="p-2">3</div>
        <div class="p-2">4</div>
        <div class="p-2">5</div>
      </div>
      <div class="text-[14px] text-center axis-title-x">Recency (days)</div>
    </div> <!-- x-axis -->
  </div> <!-- rfm-grid -->
</div> <!-- rfm-css-chart-wrapper -->

