<section id="rfm" 
  data-controller="rfm"
  data-rfm-data-value="<%= @data.to_json %>"
  >

  <div class="mb-8"><%= @data.size %></div>
  <div class="mb-8"><%= @data[0].inspect %></div>
  <div class="mb-8"><%= @data2.inspect %></div>
  <div id="rfm-grid" style="width:100%; max-width:720px;height:400px;"></div>

  <div class="mb-2 grid grid-cols-[repeat(4,150px)_50px_50px_50px]">
    <div>days </div>
    <div>order_count </div>
    <div>sum_total_amount </div>
    <div>customer_name </div>
    <div>R</div>
    <div>F</div>
    <div>M</div>
  </div> <!-- header -->

  <% @data.each do |row| %>
    <div class="mb-2 grid grid-cols-[repeat(4,150px)_50px_50px_50px]">
      <div><%= row[:days] %></div>
      <div><%= row[:order_count] %></div>
      <div><%= row[:sum_total_amount] %></div>
      <div><%= row[:customer_name] %></div>
      <div><%= row[:r_score] %></div>
      <div><%= row[:f_score] %></div>
      <div><%= row[:m_score] %></div>
    </div>
  <% end %>
</section>
