<section id="rfm" 
  data-controller="rfm"
  data-rfm-data1-value="<%= @data1.to_json %>"
  data-rfm-data2-value="<%= @data2.to_json %>"
  >

  <div class="grid grid-cols-2 mb-8">
    <%= render partial: "rfms/rfm_chart" %>
    <%= render partial: "rfms/rfm_table" %>
  </div>

  <div class="max-w-[860px] mb-8 p-4 bg-gray-50 rounded-md">
    <div class="list-item-title"></div>
    <div class="item-detail item-detail-header mb-2 pb-2 border-b border-b-gray-200 font-semibold text-gray-700 text-sm">
      <div>Customer name</div>
      <div>Customer contact</div>
      <div>Days</div>
      <div>Latest order date</div>
      <div>Order count</div>
      <div>Total amount</div>
    </div>
    <div id="list-item-detail" data-rfm-target="listItemDetail" class="text-sm">
      --- Please select cutomer group to see details ---
    </div>
  </div> <!-- list item detail -->

  <div class="my-4 pt-4 border-t-2 border-t-gray-400">
    <turbo-frame id="rfm-upload">
      <a href="<%= new_rfm_upload_path %>" role="button" class="underline">Upload RFM report</a>
    </turbo-frame>
  </div>
</section>
