<section id="rfm" 
  data-controller="rfm"
  data-rfm-data-value="<%= @data.to_json %>"
  >

  <div class="mb-8"><%= @data[0] %></div>

  <div id="rfm-css-chart" class="grid grid-cols-[100px_1fr] max-w-[860px] mb-8">
    <div class="flex justify-end">
      <div class="axis-title-y">Frequency + Monetary (orders + revenue)</div>
      <div class="axis-scale-y grid gap-[2px]">
        <div class="bg-blue-400 p-2">5</div>
        <div class="bg-blue-400 p-2">4</div>
        <div class="bg-blue-400 p-2">3</div>
        <div class="bg-blue-400 p-2">2</div>
        <div class="bg-blue-400 p-2">1</div>
      </div>
    </div> <!-- y-axis -->

    <div class="rfm-grid">
      <div class="cant-lose">y</div>
      <div class="cant-lose">y</div>
      <div class="royal">y</div>
      <div class="royal">y</div>
      <div class="champion">y</div>

      <div class="risk">x</div>
      <div class="risk">x</div>
      <div class="royal">x</div>
      <div class="royal">x</div>
      <div class="champion">x</div>

      <div class="risk">y</div>
      <div class="risk">y</div>
      <div class="sleep">y</div>
      <div class="potential-royal">y</div>
      <div class="potential-royal">y</div>

      <div class="hibernating">x</div>
      <div class="hibernating">x</div>
      <div class="need-attention">x</div>
      <div class="potential-royal">x</div>
      <div class="potential-royal">x</div>

      <div class="hibernating">x</div>
      <div class="hibernating">x</div>
      <div class="need-attention">x</div>
      <div class="promising">x</div>
      <div class="new">x</div>
    </div>

    <div></div>
    <div>
      <div class="axis-scale-x grid grid-cols-5 gap-[2px]">
        <div class="bg-purple-400">1</div>
        <div class="bg-purple-400">2</div>
        <div class="bg-purple-400">3</div>
        <div class="bg-purple-400">4</div>
        <div class="bg-purple-400">5</div>
      </div>
      <div class="axis-title-x">Recency (days)</div>
    </div> <!-- x-axis -->
  </div> <!-- rfm-grid -->

  <div id="rfm-details" class="mb-8">
    <div class="grid grid-cols-5 max-w-[720px] mb-2 pb-2 border-b border-b-gray-300 text-sm">
      <div>Group</div>
      <div class="text-right">Customers</div>
      <div class="text-right">R <br>(days)</div>
      <div class="text-right">F <br>(orders/customer)</div>
      <div class="text-right">M <br>(spent/customer)</div>
    </div> <!-- header -->

  <% @data2.each do |d| %>
    <div class="grid grid-cols-5 max-w-[720px]">
      <div><%= d[:group].to_s.humanize %></div>
      <div class="text-right"><%= d[:customers] %></div>
      <div class="text-right"><%= d[:days] %></div>
      <div class="text-right"><%= d[:orders_per_customer] %></div>
      <div class="text-right"><%= d[:spent_per_customer] %></div>
    </div>
  <% end %>
  </div> <!-- rfm-details -->

  <div class="mb-8"><%= @data2.inspect %></div>
  <div id="rfm-grid" style="width:100%; max-width:720px;height:400px;"></div>

  <div class="mb-2 grid grid-cols-[repeat(4,150px)_50px_50px_50px]">
    <div>days </div>
    <div>order_count </div>
    <div>sum_total_amount </div>
    <div>customer_name </div>
    <div>R</div>
    <div>F</div>
    <div>M</div>
  </div> <!-- header -->

  <% @data.each do |row| %>
    <div class="mb-2 grid grid-cols-[repeat(4,150px)_50px_50px_50px]">
      <div><%= row[:days] %></div>
      <div><%= row[:order_count] %></div>
      <div><%= row[:sum_total_amount] %></div>
      <div><%= row[:customer_name] %></div>
      <div><%= row[:r_score] %></div>
      <div><%= row[:f_score] %></div>
      <div><%= row[:m_score] %></div>
    </div>
  <% end %>
</section>
