<section id="rfm" 
  data-controller="rfm"
  data-rfm-data-value="<%= @data2.to_json %>"
  >

  <div class="mb-8"><%= @data[0] %></div>

  <div id="rfm-css-chart-wrapper" class="max-w-[860px] mb-8">
    <div class="title text-right mb-4"> 
      <div class="text-4xl font-bold"><%= number_with_delimiter(@all_customers) %></div>
      <div>customers</div>
    </div>

    <div id="cant_lose" popover><%= @data2[:cant_lose].inspect %></div>
    <div id="rfm-css-chart" class="grid grid-cols-[100px_1fr]">
      <div class="flex justify-end">
        <div class="axis-title-y">Frequency + Monetary (orders + revenue)</div>
        <div class="axis-scale-y grid gap-[2px]">
          <div class="bg-blue-400 p-2">5</div>
          <div class="bg-blue-400 p-2">4</div>
          <div class="bg-blue-400 p-2">3</div>
          <div class="bg-blue-400 p-2">2</div>
          <div class="bg-blue-400 p-2">1</div>
        </div>
      </div> <!-- y-axis -->

      <div class="rfm-grid">
        <button class="cant_lose" popovertarget="cant_lose" data-action="click->rfm#showInfo"></button>
        <button class="cant_lose" popovertarget="cant_lose" 
          data-action="click->rfm#showInfo" 
          data-percentage="<%= @data2[:cant_lose][:percentage] %>%"
          data-customers="<%= number_with_delimiter(@data2[:cant_lose][:customers]) %>"></button>
        <button class="royal" data-action="click->rfm#showInfo"></button>
        <button class="royal" data-action="click->rfm#showInfo"></button>
        <button class="champion" data-action="click->rfm#showInfo"></button>

        <div class="risk" data-action="click->rfm#showInfo"></div>
        <div class="risk" data-action="click->rfm#showInfo"></div>
        <div class="royal" data-action="click->rfm#showInfo"></div>
        <div class="royal" 
          data-action="click->rfm#showInfo" 
          data-percentage="<%= @data2[:royal][:percentage] %>%"
          data-customers="<%= number_with_delimiter(@data2[:royal][:customers]) %>"></div>
        <div class="champion" 
          data-action="click->rfm#showInfo"
          data-percentage="<%= @data2[:champion][:percentage] %>%"
          data-customers="<%= number_with_delimiter(@data2[:champion][:customers]) %>"></div>
        <div class="risk"></div>
        <div class="risk" 
          data-percentage="<%= @data2[:risk][:percentage] %>%"
          data-customers="<%= number_with_delimiter(@data2[:risk][:customers]) %>"></div>
        <div class="sleep"
          data-percentage="<%= @data2[:sleep][:percentage] %>%"
          data-customers="<%= number_with_delimiter(@data2[:sleep][:customers]) %>"></div>
        <div class="potential_royal"></div>
        <div class="potential_royal"></div>
        <div class="hibernating"></div>
        <div class="hibernating"></div>
        <div class="need_attention"></div>
        <div class="potential_royal"></div>
        <div class="potential_royal" 
          data-percentage="<%= @data2[:potential_royal][:percentage] %>%"
          data-customers="<%= number_with_delimiter(@data2[:potential_royal][:customers]) %>"></div>
        <div class="hibernating"></div>
        <div class="hibernating" 
          data-percentage="<%= @data2[:hibernating][:percentage] %>%"
          data-customers="<%= number_with_delimiter(@data2[:hibernating][:customers]) %>"></div>
        <div class="need_attention"
          data-percentage="<%= @data2[:need_attention][:percentage] %>%"
          data-customers="<%= number_with_delimiter(@data2[:need_attention][:customers]) %>"></div>
        <div class="promising" 
          data-percentage="<%= @data2[:promising][:percentage] %>%"
          data-customers="<%= number_with_delimiter(@data2[:promising][:customers]) %>"></div>
        <div class="new" 
          data-percentage="<%= @data2[:new][:percentage] %>%"
          data-customers="<%= number_with_delimiter(@data2[:new][:customers]) %>"></div>
      </div>

      <div></div>
      <div>
        <div class="axis-scale-x grid grid-cols-5 gap-[2px]">
          <div class="bg-purple-400">1</div>
          <div class="bg-purple-400">2</div>
          <div class="bg-purple-400">3</div>
          <div class="bg-purple-400">4</div>
          <div class="bg-purple-400">5</div>
        </div>
        <div class="axis-title-x">Recency (days)</div>
      </div> <!-- x-axis -->
    </div> <!-- rfm-grid -->
  </div> <!-- rfm-css-chart-wrapper -->

  <div id="rfm-details" class="mb-8">
    <div class="grid grid-cols-5 max-w-[720px] mb-2 pb-2 border-b border-b-gray-300 text-sm">
      <div>Group</div>
      <div class="text-right">Customers</div>
      <div class="text-right">R <br>(days)</div>
      <div class="text-right">F <br>(orders/customer)</div>
      <div class="text-right">M <br>(spent/customer)</div>
    </div> <!-- header -->

  <% @data2.each do |group_name, d| %>
    <div class="grid grid-cols-5 max-w-[720px]">
      <div><%= group_name.to_s.humanize %></div>
      <div class="text-right"><%= d[:customers] %></div>
      <div class="text-right"><%= d[:days] %></div>
      <div class="text-right"><%= d[:orders_per_customer] %></div>
      <div class="text-right"><%= d[:spent_per_customer] %></div>
    </div>
  <% end %>
  </div> <!-- rfm-details -->

  <div class="mb-8"><%= @data2.inspect %></div>
  <div id="rfm-grid" style="width:100%; max-width:720px;height:400px;"></div>

  <div class="mb-2 grid grid-cols-[repeat(4,150px)_50px_50px_50px]">
    <div>days </div>
    <div>order_count </div>
    <div>sum_total_amount </div>
    <div>customer_name </div>
    <div>R</div>
    <div>F</div>
    <div>M</div>
  </div> <!-- header -->

  <% @data.each do |row| %>
    <div class="mb-2 grid grid-cols-[repeat(4,150px)_50px_50px_50px]">
      <div><%= row[:days] %></div>
      <div><%= row[:order_count] %></div>
      <div><%= row[:sum_total_amount] %></div>
      <div><%= row[:customer_name] %></div>
      <div><%= row[:r_score] %></div>
      <div><%= row[:f_score] %></div>
      <div><%= row[:m_score] %></div>
    </div>
  <% end %>
</section>
